.item {
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
    padding: 20px;
}

.line {
    border: 1px solid #f4f4f4;
}

.deleteButton {
    float: right;
    padding: 12px 20px;
    background-color: #353935;
    color: white;
    border: none;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: #282c34;
    opacity: 0.9;
    transition: background-color 0.5s ease-in-out;
}

.completed {
    text-decoration: line-through;
    color: black;
    font-style: italic;
    cursor: pointer;
}

.todo{
    cursor: pointer;
}
